@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

:root {
  --color-dark: #272a31;
  --color-red: #ec5242;
  --color-gray: #d3d3d3;
  --font-coco: 'COCOGOOSE', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display:flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-dark);
  padding: 0 10%;
  align-items: center;
  max-height: 4vh;
}

header a {
  padding: 0 1vw;
  text-decoration: none;
}

header a p {
  font-family: var(--font-lato);
  font-weight: 300;
}

.header-icon {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4vh 0 var(--color-gray);
  background-color: #fff;
}

.hamb-icons {
  display: none;
  z-index: 97;
}

#hamburgerIcon {
  display: none;
}

#closeIcon {
  display: none;
  color: var(--color-gray);
  position:fixed;
  z-index:100;
}

.prr-logo {
  padding: 1% 0;
}

.nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: var(--font-lato);
  gap: 4vw;
}

.nav-items ul li {
  padding-right: 2%;
  text-decoration: none;
  font-weight: bold;
}

.nav-items ul li a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--color-dark)
}

#about-link, #buy-link {
  color: var(--color-red)
}

#buy-link {
  border-style: solid;
  border-width: 4px;
  padding: 12px;
}

.buy-shched-txt {
  margin: 6%
}

#sched-buy {
  text-decoration: none;
  color: var(--color-gray);
  font-family: var(--font-lato);
  text-decoration: underline;
}

.right {
  display: none;
}

.headline {
  background-image: url('/imgs/woodstock.jpg');
  background-repeat: no-repeat;
  background-color: rgba(241, 241, 241, 0.9);
  background-blend-mode: soft-light;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  margin-top: 0.5%;
}

.headline-titles {
  color: var(--color-red)
}

h2, h3, h4, h5, p {
  font-family: var(--font-lato);
}

.headline-titles h1, .headline-footer h2 {
  font-family: var(--font-coco);
}

.container-title h2 {
  font-family: var(--font-lato);
  text-align: center;
}

.red-line {
  border-top: 3px solid var(--color-red);
  height: 20px;
  width: 60px;
  margin: auto;
}

.headline-box p {
  background-color: var(--color-four);
  border: 3px solid #fff;
  padding: 1rem;
  line-height: 1.5rem;
}

.schedule-container {
  background-color: var(--color-dark);
  background-image: url("/imgs/diag_pattern.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-container h2, .sponsors-container h2 {
  color: #fff;
  padding-top: 3%;
}

.schedule-container a {
  text-align: center;
}

.sched-cards {
  display: flex;
  margin: 0 24px;
  align-items: center;
}

.inner-card {
  display: flex;
  background-color: rgba(158, 158, 158, 0.12);
  align-items: center;
  padding: 12px;
  height: 64vh;
}

.inner-card:hover {
  border-style: solid;
  border-color: var(--color-gray);
  border-width: 2px;
}

.inner-card img {
  max-width: 64px;
  max-height: 64px;
}

.inner-card h3 {
  color: var(--color-red)
}

.inner-card p {
  color: rgb(226, 226, 226);
}

.artists-card-container {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 12px;
  margin-bottom: 2%;
}

.artists-card {
  display: flex;
  flex-direction: row;
}

.artists-card img {
  max-width: 192px;
  max-height: 192px;
}

.artists-txt {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.artists-txt h2, .artists-txt h3, .artists-txt p, .soft-line {
  margin: 0;
  padding-top: 4px;
}

.artists-txt h3 {
  color: var(--color-red)
}

.soft-line {
  border-top: 2px solid var(--color-dark);
  width: 46px;
  margin-top: 6px;
}

.sponsors-container {
  background-color: var(--color-dark);
  padding-bottom: 2%;
}

.sponsors-imgs {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.sponsors-imgs img {
  max-width: 240px;
  max-height: 64px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  margin-top: 6vh;
  padding: 0 6%;
}

.footer-txt p {
  font-size: 12px;
}


@media (min-width: 768px) {

  .headline-titles, .headline-box, .headline-footer {
    padding: 0 12%;
  }

  .sched-cards {
    flex-direction: row;
    gap: 12px;
    justify-content: center;
  }

  .inner-card {
    flex-direction: column;
  }

  .inner-card p {
    max-width: 18vw;
    text-align: center;
  }

  .artists-card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {

  header {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .hamb-icons {
    display: block;
    margin-left: 2%;
  }

  #hamburgerIcon {
    display: block;
  }

  .prr-logo {
    justify-items: center;
    margin-left: -2%;
  }

  .nav-items {
    display: none;
  }

  .nav-items.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
  }

  .ul-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 15% !important;
    justify-content: flex-start;
    background-color: rgba(39, 42, 49, 0.9);
    width: 100%;
  }

  .nav-items ul li a {
    white-space: nowrap;
    text-decoration: none;
    color: var(--color-gray)
  }

  .right {
    display: block;
  }

  .headline-titles {
    padding: 0 6%;
  }

  .headline-box {
    padding: 0 4%;
  }

  .headline-footer {
    padding: 0 6%;
  }

  .sched-cards {
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    margin: 0 24px;
  }

  .inner-card {
    background-color: rgba(158, 158, 158, 0.12);
    padding: 1.5rem;
    gap: 24px;
    align-items: center;
  }

  .artists-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .footer-txt p {
    display: none;
  }
}