@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

header {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(56, 56, 56);
  padding: 0 10%;
  align-items: center;
  max-height: 4vh;
}

header a {
  padding: 0 1vw;
  text-decoration: none;
}

header a p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header-icon {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 14px;
}

.prr-logo {
  padding: 1% 0;
}

.nav-items {
  display: flex;
  /* justify-content: space-evenly; */
}

.nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.nav-items ul li {
  padding-right: 4%;
}

.nav-items ul li a {
  white-space: nowrap;
}